{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="/static/scripts/highcharts.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-1.10.2.min.js"></script>
        <div class="jumbotron">
            <h1>Monitor System</h1>            
        </div>

      
<script type="text/javascript">
$(function () {
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Rencent Health Results'
        },
        subtitle: {
            text: 'Source: database'
        },
        xAxis: {
            categories: [
                'app1',
                'app2',
                'app3',
                'app4',
                'app5',
                'app6',
                'app7',
                'app8',
                'app9',
                'app10',
                'app11',
                'app12'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'counts'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'success',
            data: [2,3,4,5,6,7,3,8,9,0,9,5]

        }, {
            name: 'fail',
            data: [2, 3, 4, 5, 9, 8, 3, 8, 7, 5, 9, 5]

        }]
    });
});
</script>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


        {% endblock %}
