<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - emailuo V3 Operation System</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css"/>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>


</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fliud">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">易脉络运维管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{{ url_for('home') }}">首页</a></li>
                <li><a href="{{ url_for('serverStatus') }}">服务管理</a></li>
                <li><a href="{{ url_for('mailManagement') }}">邮件管理</a></li>
            </ul>
        </div>
    </div>
</div>

{% block content %}{% endblock %}
<hr/>

<div class="col-sm-4 col-sm-offset-3 col-md-5 col-md-offset-5 main">
    <div class="footer">
        <div class="container">
            <p class="text-muted">&copy; {{ year }} - 上海恩谷科技信息有限公司</p>
        </div>
    </div>
</div>


<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
