{% extends "layout.html" %}

{% block content %}
<style>
    .page-header {
        margin-top: 5%;
    }
    .container-fliud {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

    }
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(238,238,238);
    }

</style>


<div class="container-fliud">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{{ url_for('serverStatus')}}">服务状态</a></li>
                <li><a href="{{ url_for('serverManagement') }}">服务管理</a></li>
                <li><a href="#">服务分组</a></li>
            </ul>
        </div>
        <div class="span8" style="margin: 50px">
            <div class="col-sm-5 col-offset-3 col-md-10 col-md-offset-2 main">
                <div class="page-header">
                    <h1 class="page-header">Hello {% if name %}{{form.name}}{%endif%}</h1>
                    <h1>添加新的服务</h1>
                    <form role="form" class="form-group" method="POST">


                        <p>
                            <label class="col-sm-2 control-label no-padding-right">实例名</label>{{form.server_name()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">IP地址</label>{{form.IP_address()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">备注</label>{{form.note()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">操作系统</label>{{form.OS()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">检测端口</label>{{form.port()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">检测周期</label>{{form.cycle()}}
                        </p>
                        <p>
                            <label class="col-sm-2 control-label no-padding-right">服务分组</label>{{form.server_type()}}
                        </p>
                        <p>
                        </p>

                        <p>{{form.submit()}}</p>
                        <p>{{ form.hidden_tag() }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}