{% extends "layout.html" %}

{% block content %}


<style>
    .page-header {
        margin-top: 5%;
    }

    .container-fliud {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: rgb(238,238,238);
    }
</style>


<div class="container-fliud">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{{ url_for('serverStatus') }}">服务状态</a></li>
                <li><a href="{{ url_for('serverManagement') }}">服务管理</a></li>
                <li><a href="#">服务分组</a></li>
            </ul>
        </div>

        <div class="col-sm-5 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Section title</h1>
            <form class="form-horizontal userform" role="form" id="userInfo">
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">实例名</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['server_name']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">IP地址</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['IP_address']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">操作系统</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['OS']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">备注</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['note']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">健康检测地址</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['port']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">检测周期</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['cycle']}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">服务分组</label>
                    <div class="col-sm-10" style="padding-top:5px;">
                        <span>
                            {{comment['server_type']}}
                        </span>
                    </div>
                </div>
               
            </form>
            <!--<div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>instanceName</th>
                            <th>ip address</th>
                            <th>OS</th>
                            <th>status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                        <tr>
                            <td>{{comment["serverName"]}}</td>
                            <td>{{comment["hostname"]}}</td>
                            <td>{{comment['OS']}}</td>
                            <td>{{comment["port"]}}</td>
                            <td><a href="{{ url_for('serverDetail') }}">detail</a></td>
                            <td><a href="{{ url_for('editServer', serverId = comment['_id']) }}">edit</a></td>
                            <td><a href="{{ url_for('deleteServer', serverId = comment['_id']) }}">delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}